<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
<div class="login-container">

    <div id="error-message" >Message: Full authentication is required to access this resource</div>
   <a href="/auth/login">login</a>

</div>
</body>
</html>
